:root {
    --menu-width: 260px;
    --primary-color: #07a044; 
    --textColor: #000000;
    --white-color: #fff;  
}


*, ::before, ::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color); 
  }